.section-contact {
    background-image: url(../../chef/images/main_bg.jpg);
}

.contact {
    background-color: #dc3545;
    border-radius: 15px;
    white-space: pre-line;
    width: 40%;
    i {
        font-size: 50px;
    }
    p {
        margin-top: 20px;
        color: white;
    }
    hr {
        margin-top: -20px;
    }
}

// Media Query NavBar

// sm >= 576 px
// md >= 768 px
// lg >= 992 px

@media (min-width: 300px) and (max-width: 576px) {
    .contact {
        width: 100%;
    }
}
