.section-contact {
    background-image: url(../../chef/images/main_bg.jpg);
}

.contact {
    background-color: #dc3545;
    border-radius: 15px;
    white-space: pre-line;
    i {
        font-size: 40px;
    }
    p {
        margin-top: 20px;
        color: white;
    }
    hr {
        margin-top: -20px;
    }
}

// Media Query Contact

// sm >= 576 px
// md >= 768 px
// lg >= 992 px

@media (min-width: 768px) {
    .section-contact .col-sm-4 {
        margin-left: 33.33333333%;
    }
}

@media (min-width: 768px) {
    .section-contact .col-sm-4 {
        width: 33.33333333%;
    }
}

@media (min-width: 992px) {
    .section-contact .chef-title img {
        width: 50%;
    }
}
