.section-footer {
    background-image: url(../../chef/images/footer_background.jpg);
}

.section-footer {
    img {
        margin: 3px;
        margin-top: 8px;
    }
    a {
        padding: 5px 13px;
        background-color: #dc3545;
        border: 1px solid lightgray;
        border-radius: 35px;
        color: white;
        font-size: 13px;
        margin-right: 10px;
        text-decoration: none;
    }
}

.footer-bottom-decoration {
    position: relative;
    background-image: url(../../chef/images/footer_bottom_decoration_img.png);
    width: 100%;
    height: 15px;
}

.bottom-footer {
    height: 100px;
    background-color: #dc3545;
}
