.section-chef {
    background-image: url(../../chef/images/team_background.jpg);
}

// Animation Hover Image Teams
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #dc3545;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
}

.overlay i {
    margin: 5px;
}

.test1:hover .overlay {
    height: 30%;
}

.test1 {
    &:hover {
        cursor: pointer;
    }
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bar {
    background-color: white;
    height: 1px;
    margin-top: 10px;
    width: 230px;
}

// Media Query Contact

// sm >= 576 px
// md >= 768 px
// lg >= 992 px
