.section-chef .container .row img {
    border-bottom: 1px solid lightgray;
}

.chef-title {
    h1 {
        font-family: "Courgette", cursive;
        color: white;
    }
    span {
        font-size: 60px;
    }
}
