* {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background-color: black;
}

.navbar-toggle {
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbar {
    padding: 0;
}

// NavBar
.navbar-nav {
    position: fixed;
    z-index: 1;
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}

// Nav Item
.nav-item {
    margin-top: 25px;
}

// Nav Logo
.navbar-nav img {
    padding: 0px 50px;
    width: 8%;
    height: 5%;
    margin-top: 20px;
}

// Nav Link Padding
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
}

// Nav Link NavBar
.nav-link {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px 25px;
    font-size: 14px;
    color: white !important;
    text-transform: uppercase;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    &:hover {
        background-color: #dc3545;
        color: white;
    }
}

// Carousel Images
.carousel-item img {
    opacity: 20%;
    height: 100vh;
    width: 100%;
}

// Carousel Caption
.carousel-caption {
    margin-bottom: 10em;
    margin-right: 2em;
}

// Carousel Title
.carousel-caption h5 {
    font-family: "Courgette", cursive;
    margin-bottom: 1.5em;
    font-size: 70px;
    white-space: pre-line;

    // Animation
    animation: fadeInDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s; /* don't forget to set a duration! */
}

// Carousel Button
.carousel-caption button {
    font-size: 15px;
    padding: 18px 30px;
    border-radius: 30px;
    margin: 10px;

    // Animation
    animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s; /* don't forget to set a duration! */
}

// Carousel Indicators Circle
.carousel-indicators li {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-bottom: 30px;
}

// Bottom Decoration Under Carousel
.bottomDecoration {
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(../../chef/images/bottom_decoration_img.png);
    width: 100%;
    height: 15px;
}

// Media Query NavBar

// sm >= 576 px
// md >= 768 px
// lg >= 992 px
