.section-menuList {
    background-image: url(../../chef/images/main_bg.jpg);
}

.section-menuList-border {
    border: 1px solid lightgrey;
}

.section-menuList .container {
    background-color: white;
}

.section-menuList .container h1 {
    font-family: "Courgette", cursive;
}

.section-menuList .container h1 span {
    font-size: 50px;
}

// Menu1
.menu {
    img {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        border: 5px solid lightgray;
        margin-top: 10px;
    }
    p {
        white-space: pre-line;
    }
}

// Menu Price
.menu-price {
    background-color: #efefef;
    padding: 3px 10px;
    height: 30px;
    color: #dc3545;
    font-weight: bold;
}

.section-menuList .nav-link {
    color: black;
    background: none;
    font-family: "Courgette", cursive;
    font-size: 30px;
    color: black !important;
    text-transform: capitalize;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    i {
        font-size: 50px;
        margin: 5px;
        color: #cccccc;
    }
}

.section-menuList .nav-pills .nav-link.active {
    background: none;
    color: black;
    border-right: 4px solid #dc3545;
    i {
        color: #dc3545;
    }
}

// Media Query Menu List

// sm >= 576 px
// md >= 768 px
// lg >= 992 px

@media (max-width: 768px) {
    .section-menuList .nav-link,
    .section-menuList .nav-link.active {
        border: 1px solid #c1c1c1;
    }
}

@media (min-width: 768px) {
    .section-menuList .menu.col-sm-6 {
        width: 30%;
    }
}
