.section-menuList-border {
    border: 1px solid lightgrey;
}

.section-menuList {
    background-image: url(../../chef/images/main_bg.jpg);
}

.section-menuList .container {
    background-color: white;
}

.section-menuList .container h1 {
    font-family: "Courgette", cursive;
}

.section-menuList .container h1 span {
    font-size: 50px;
}

// Menu1
.menu1 img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 5px solid lightgray;
    margin-top: 10px;
}

// Menu List
.menuList {
    div {
        margin-left: 20px;
    }
    border-right: 1px solid lightgray;
    a {
        font-family: "Courgette", cursive;
        font-size: 30px;
        text-decoration: none;
        color: black;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    i:hover {
        color: #dc3545;
        cursor: pointer;
    }
}

// Menu Price
.menu1-price {
    background-color: #cdcdcd;
    padding: 3px 10px;
    height: 30px;
    margin-top: 60px;
    margin-left: -30px;
    color: #dc3545;
    font-weight: bold;
}
